@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background: #202020;
    color: #FFFFFF;
    font-family: 'VT323', monospace;
    font-size: 2em;
    text-align: center;

}

#score {
    color: #FFFFFF;
    font-size: 2rem;
    background: #171b26;
}

.container {
    width: 55.5vmin;
    display: flex;
    flex-direction: column;
    margin: auto;
}

canvas{
    border: solid 0.2em #FFFFFF;
    height: 90vh;
}